[submodule "rpi4-bsp"]
	path = rpi4-bsp
	url = git@github.com:embeddedsandbox/rpi4-bsp.git
	branch = master
[submodule "rtos"]
	path = rtos
	url = git@github.com:embeddedsandbox/rtos.git
	branch = master
[submodule "qemu-aarch64-virt-bsp"]
	path = qemu-aarch64-virt-bsp
	url = git@github.com:embeddedsandbox/qemu-aarch64-virt-bsp.git
	branch = master
